@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

* {
box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #7d5fff, #7258e2);
    font-family: 'Open Sans', sans-serif;
    font-size:larger;
    display: flex;
    align-items: center;
    justify-content: center ;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.busqueda {
    position: relative;
    height: 50px;
}
.busqueda .input {
    background-color: fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.8s ease;
}
.btn {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transform: transform 0.3s ease;
}
.btn:focus,
.input:focus {
    outline: none;
}
.busqueda.active .input {
    width: 200px;
}

.busqueda.active .btn{
    transform: translateX(198px);
}