@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

* {
box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center ;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.bg {
    background: url(eclipse.jpg) no-repeat center center/cover;
    position: absolute;
    top: -30;
    left: 0;
    width: calc(100vw + 80px);
    height: calc(100vw + 80px);
    z-index: -1;
    filter: blur(0px);
}
.textoCargado{
    font-size: 80px;
    color: white;
}